{% extends "admin/base_site.html" %}
{% block content %}
{{ block.super }}
<div class="module">
    <h2>Parser Utilities</h2>
    <ul>
        <li><a href="/admin/parsers_utilities/registered-parsers/">Registered Modular Parsers (Read-Only)</a></li>
        <li><a href="/admin/parsers_utilities/samplestatement/">Sample Statements</a></li>
        <li><a href="/admin/parsers_utilities/extractionresult/">Extraction Results</a></li>
        <li><a href="/utilities/test_parser/">Parser Test Utility</a></li>
    </ul>
</div>
{% endblock %}