{% extends "admin/change_form.html" %}

{% block submit_buttons_bottom %}
{% if hide_save %}
<div style="margin-top: 2em; text-align: right;">
    <a href="{% url 'admin:profiles_processingtask_changelist' %}" class="button">Close</a>
</div>
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{% if auto_refresh %}
<script>
    setTimeout(function () { window.location.reload(); }, 7000);
</script>
{% endif %}
{% endblock %}

{% block after_related_objects %}
{{ block.super }}
{% if log_content %}
<h3>Task Log</h3>
{{ log_content|safe }}
{% endif %}
{% endblock %}