{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
<div class="app-profiles module">
    <h1>{{ title }}</h1>
    {% if messages %}
    <ul class="messagelist">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <form method="post" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        <fieldset class="module aligned">
            {{ form.client }}<br>
            {{ form.file_type }}<br>
            {{ form.parser_module }}<br>
            {{ form.account_number }}<br>
            <div class="form-row field-auto-parse">
                {{ form.auto_parse }} {{ form.auto_parse.label_tag }}<br>
                <span class="help">{{ form.auto_parse.help_text }}</span>
            </div>
            <div class="form-row field-files">
                <label for="id_files">Files:</label>
                <input type="file" name="files" id="id_files" multiple required>
                <p class="help">Upload one or more PDF/CSV files.</p>
            </div>
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="Upload" class="default">
            <a href="{% url 'admin:profiles_statementfile_changelist' %}" class="button">Back to Statement Files</a>
        </div>
    </form>
</div>
{% endblock %}