{% extends "admin/change_form.html" %}

{% block after_related_objects %}
  {{ block.super }}
  {% if manifest_upload_form %}
    <div class="module aligned" style="margin-top:2em;">
      <h2>Attach or Replace Manifest</h2>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ manifest_upload_form.as_p }}
        <input type="hidden" name="manifest_upload" value="1">
        <input type="submit" value="Upload Manifest" class="default">
      </form>
      {% if manifest_upload_success %}
        <p style="color:green;font-weight:bold;">{{ manifest_upload_success }}</p>
      {% endif %}
      {% if manifest_upload_error %}
        <p style="color:red;font-weight:bold;">{{ manifest_upload_error }}</p>
      {% endif %}
    </div>
  {% endif %}
{% endblock %} 