{% extends "admin/base.html" %}
{% load i18n admin_filters %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
{{ block.super }}
<style>
    #header {
        align-items: center;
    }

    .nav-menu {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav-menu>li {
        position: relative;
        margin-left: 15px;
    }

    .nav-menu>li>a {
        color: #fff;
        text-decoration: none;
        padding: 15px 10px;
        display: block;
    }

    .nav-dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: var(--header-bg);
        list-style: none;
        padding: 0;
        margin: 0;
        min-width: 200px;
        z-index: 1000;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .nav-menu>li:hover>.nav-dropdown {
        display: block;
    }

    .nav-dropdown li a {
        padding: 10px 15px;
        display: block;
        color: #fff;
        text-decoration: none;
    }

    .nav-dropdown li a:hover {
        background: var(--header-link-hover-bg);
    }
</style>
{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></div>
{% if user.is_anonymous %}
{% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}
{% get_admin_nav as nav %}
<ul class="nav-menu">
    {% for item in nav %}
    {% if item.models %}
    <li>
        <a href="#">{{ item.icon }} {{ item.name }}</a>
        <ul class="nav-dropdown">
            {% for model in item.models %}
            <li><a href="{{ model.url }}">{{ model.name }}</a></li>
            {% endfor %}
        </ul>
    </li>
    {% else %}
    <li><a href="{{ item.url }}">{{ item.icon }} {{ item.name }}</a></li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}